:root{
    --accent-color:  #FF6336;
    --accent-color-secondary: #FF9C7D;
    --accent-color-transparent: rgba(180, 171, 171, 0.9);
    --secondary-color: #3D3D3D;
    --main-color:#ffffff;
    --bg-secondary-color:#FBFBFB;
    --bg-color: #FFF8E4;
    --font-sm:14px;
    --font-md:16px;
    --font-xl:18px;
    --font-xxl:20px;
    --font-title:50px;
    --font-icon:25px;
    --content-width:1420px;
}

body{
    font-family: "Varta", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: var(--font-md)
}

a {
    font-size: var(--font-md);
    color: var(--secondary-color);
    text-decoration: none;
    display: inline-block;
}

.container{
    max-width: var(--content-width);
}

/*Header*/


.header{
    margin-top: 30px;
    max-width: var(--content-width);
}

.header__content{
    width: var(--content-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--accent-color-transparent);
    padding-bottom: 18px;
    margin-left: 51px;
    margin-right: 51px;
}


.header__controls{
    display: flex;
    margin-left: auto;
}

.header. nav ul{
    font-size: 15px;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 42px;
    margin-left: 51px;
}

.header__btn{
    display: inline-block;
margin-right: 10px;
    padding-left: 36px;
    padding-right: 36px;
    font-weight: bold;
}

.header__btn:hover{
    color: white;
    background-color: var(--secondary-color);
}

.btn.btn-success{
    display: inline-block;
    height: 50px;
    left: 22px;
    padding-left: 36px;
    padding-right: 36px;
    background: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
    font-weight: bold;
}

.btn.btn-success:hover{
    background: var(--secondary-color);
    border-color: var(--secondary-color);}

/*Banner*/

.banner{
    max-width: var(--content-width);
    margin-top: 97px;
    width: 1350px;
    margin-right: 55px;
}

.banner__content{
    padding-left: 75px;
    padding-right: 75px;
    background-image:url("./../assets/img/svg/изображение .svg");
    background-repeat: no-repeat;
    background-position:right ;
}

.banner h1 {
    width: 552px;
    height: 210px;
font-size: 65px;
    font-weight: bold;
}

.banner__text-top{
    margin-top: 51px;
    font-size: var(--font-icon);
    width: 471px;
    height: 140px;}

 .banner .banner__description{
     margin-top: 129px;
    max-width: 50%;
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.banner__btn-success{
    margin-right: 10px;
    width: 160px;
    height: 60px;
    font-weight: bold;
    background: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

.banner__btn-success:hover{
    font-weight: bold;
    background: var(--secondary-color);
    border-color: var(--secondary-color);}

.banner__btn{

    width: 160px;
    height: 60px;
    font-weight: bold;
    }

.banner__btn:hover{
    font-weight: bold;
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
}

.banner__text-below{
    margin-top: 25px;
    margin-bottom: 182px;
    font-size: 15px;
    width: 369px;
    height: 25px;
    }


/*Color__content*/

.color__wrapper{
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: var(--accent-color-secondary);
    margin-bottom: 100px;
}

.color-icons{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 94px;
}


.color__wrapper h2{
    width: 620px;
    height: 120px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 70px;
    padding-top: 98px;
}

/*Block third*/

.third__block {

    width: 1350px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 150px;
}

.third__block-content{
    padding-left: 75px;
    padding-right: 75px;
    background-image:url("./../assets/img/jpg/blockthird.jpg");
    background-repeat: no-repeat;
    background-position:right ;
}

.third__block h2 {
    width: 493px;
    height: 120px;
    font-size: var(--font-title);
    font-weight: bold;
    margin-bottom: 30px;
}

.third__block-text{
    max-width: 60%;
    margin-top: 51px;
    width: 491px;

    font-size: var(--font-xxl);
    margin-bottom: 10px;
}

.active{
    width: 96px;
    height: 30px;
    font-size: var(--font-xxl);
    font-weight: bold;
}

/*Forth__block*/

.forth__block{
    width: 1290px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 150px;
}

.forth__block-content{
    padding-left: 75px;
    padding-right: 75px;
    background-image:url("./../assets/img/jpg/block4.jpg");
    background-repeat: no-repeat;
    background-position:right ;
    margin-bottom:30px;
}


.forth__block h2{
    font-size: var(--font-title);
    width: 379px;
    height: 120px;
    font-weight: bold;
}

.forth__block-text{
    max-width: 60%;
    width: 450px;
    height: 150px;
    font-size: var(--font-xxl);
}

/*Fifth block*/

.fifth__block{
    width: 1290px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 150px;
}

.fifth__block-content{
    padding-left: 75px;
    padding-right: 75px;
    background-image:url("./../assets/img/jpg/block4.jpg");
    background-repeat: no-repeat;
    background-position:right;
}

.fifth__block h2 {
    width: 397px;
    height: 60px;
    font-size: var(--font-title);
    font-weight: bold;
    margin-bottom: 30px;
}

.fifth__block-text {
    max-width: 60%;
    width: 508px;
    height: 150px;
    font-size: var(--font-xxl);
}

/*Color__block-content*/
.color__block{
    max-width: 1490px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.color__block-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1290px;
    background-color: var(--bg-color);
}

.color__block-part{
    width: 330px;
    height: 294px;
}

.color__block-title h2{
    padding-top: 120px;
    padding-bottom: 58px;
    height: 60px;
   font-size: var(--font-title);
    font-weight: bold;
}


.color__icon-title{
   font-size: var(--font-icon);
    font-weight: bold;
    padding-bottom: 20px;
}

.color__block-description{
    font-size: var(--font-xl);
    width: 303px;
    height: 75px;
    padding-top: 15px;
}