:root{
    --accent-color:  #FF6336;
    --accent-color-secondary: #FF9C7D;
    --accent-color-transparent: rgba(180, 171, 171, 0.9);
    --secondary-color: #3D3D3D;
    --main-color:#ffffff;
    --bg-secondary-color:#FBFBFB;
    --font-sm:14px;
    --font-md:16px;
    --font-xl:18px;
    --content-width:1440px;
}

body{
    font-family: "Varta", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: var(--font-md)
}

a {
    font-size: var(--font-md);
    color: var(--secondary-color);
    text-decoration: none;
    display: inline-block;
}


/*Header*/


.header{
    margin-top: 30px;
    max-width: 1440px;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--accent-color-transparent);
    padding-bottom: 18px;
    margin-left: 51px;
    margin-right: 51px;
}


.header__controls{
    display: flex;
    margin-left: auto;
}

.header. nav ul{
    font-size: 15px;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 42px;
    margin-left: 51px;
}

.header__btn{
    display: inline-block;
margin-right: 10px;
    padding-left: 36px;
    padding-right: 36px;
    font-weight: bold;
}

.header__btn:hover{
    color: white;
    background-color: var(--secondary-color);
}

.btn.btn-success{
    display: inline-block;
    height: 50px;
    left: 22px;
    padding-left: 36px;
    padding-right: 36px;
    background: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
    font-weight: bold;
}

.btn.btn-success:hover{
    background: var(--secondary-color);
    border-color: var(--secondary-color);}

/*Banner*/

.banner{
    margin-top: 97px;
    width: 1350px;
    margin-right: 55px;
}

.banner__content{
    padding-left: 75px;
    padding-right: 75px;
    background-image:url("./../assets/img/svg/изображение .svg");
    background-repeat: no-repeat;
    background-position:right ;
}
.banner h1 {
    width: 552px;
    height: 210px;
font-size: 65px;
    font-weight: bold;
}

.banner__text-top{
    margin-top: 51px;
    width: 471px;
    height: 140px;
    top: 275px;
 font-size: 25px;
}

 .banner .banner__description{
    max-width: 50%;
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.banner__btn-success{
    margin-top:20px;
    margin-right: 10px;
    width: 160px;
    height: 60px;
    font-weight: bold;
    background: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

.banner__btn-success:hover{
    font-weight: bold;
    background: var(--secondary-color);
    border-color: var(--secondary-color);}

.banner__btn{
    margin-top:50px;
    width: 160px;
    height: 60px;
    font-weight: bold;
    }

.banner__btn:hover{
    font-weight: bold;
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
}

.banner__text-below{
    margin-top: 25px;
    margin-bottom: 182px;
    font-size: 15px;
    width: 369px;
    height: 25px;
    }


/*Color__content*/

.color__wrapper{
display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: var(--accent-color-secondary);
}

.color-icons{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 94px;
}


.color__wrapper h2{
    width: 620px;
    height: 120px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 70px;
    padding-top: 98px;
}