:root{
    --accent-color:  #FF6336;
    --accent-color-secondary: #FF9C7D;
    --accent-color-transparent: rgba(180, 171, 171, 0.9);
    --secondary-color: #3D3D3D;
    --main-color:#ffffff;
    --bg-secondary-color:#FBFBFB;
    --bg-color: #FFF8E4;
    --font-sm:14px;
    --font-md:16px;
    --font-xl:18px;
    --font-xxl:20px;
    --font-title:50px;
    --font-icon:25px;
    --max-width:1440px;
    --content-width:1290px;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: var(--font-md)
}

a {
    font-size: var(--font-md);
    color: var(--secondary-color);
    text-decoration: none;
    display: inline-block;
}

.container{
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 15px;
}

/*Header*/


.header{
    width: var(--max-width);
    margin-top: 30px;

}

.header__content{
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--accent-color-transparent);
    padding-bottom: 18px;
}


.header__controls{
    display: flex;
    margin-left: 0;
}

.header nav ul{
    font-size: 15px;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.header__btn{
    display: flex;
margin-right: 10px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}

.header__btn:hover{
    color: white;
    background-color: var(--secondary-color);
}

.btn.btn-success{
    display: flex;
    height: 50px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
    font-weight: bold;
}

.btn.btn-success:hover{
    background: var(--secondary-color);
    border-color: var(--secondary-color);}



/*Banner*/

.banner{
    max-width: var(--max-width);
    margin-top: 150px;
    /*margin-right: 55px;*/
}

.banner__content{
    padding-left: 75px;
    padding-right: 75px;
    background-image:url("./../assets/img/svg/изображение .svg");
    background-repeat: no-repeat;
    background-position:right ;
}

.banner h1 {
    width: 552px;
    height: 210px;
font-size: 65px;
    font-weight: bold;
}

.banner__text-top{
    margin-top: 51px;
    font-size: var(--font-icon);
    width: 405px;
    height:140px;}

 .banner .banner__description{
     margin-top: 129px;
    max-width: 50%;
     gap: 10px;
}

.banner__btn-success{
    margin-right: 10px;
    width: 160px;
    height: 60px;
    font-weight: bold;
    background: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

.banner__btn-success:hover{
    font-weight: bold;
    background: var(--secondary-color);
    border-color: var(--secondary-color);}

.banner__btn{
    width: 160px;
    height: 60px;
    font-weight: bold;
    }

.banner__btn:hover{
    font-weight: bold;
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
}

.banner__text-below{
    margin-top: 25px;
    margin-bottom: 182px;
    font-size: 15px;
    width: 369px;
    height: 25px;
    }


/*Color__content*/

.color__content{
    max-width: var(--max-width);
    background-color: var(--accent-color-secondary);
    margin-left: 75px;
    margin-right: 75px;
}

.color__wrapper{
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.color-icons{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-bottom: 94px;
    margin-right: 75px;
    margin-left: 75px;
}


.color__wrapper h2{
    width: 620px;
    height: 120px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 70px;
    padding-top: 98px;
}

/*Block third*/

.third__block {
    max-width: var(--max-width);
    margin-bottom: 150px;
}

.third__block-content{
    max-width: var(--content-width);
    padding-left: 75px;
    padding-right: 75px;
    background-image:url("./../assets/img/jpg/blockthird.jpg");
    background-repeat: no-repeat;
    background-position:right ;
}

.third__block h2 {
    width: 493px;
    height: 120px;
    font-size: var(--font-title);
    font-weight: bold;
    margin-bottom: 30px;
}

.third__block-text{
    max-width: 60%;
    margin-top: 51px;
    width: 491px;
    font-size: var(--font-xxl);
    margin-bottom: 35px;
}

.active{
    width: 96px;
    height: 30px;
    font-size: var(--font-xxl);
    font-weight: bold;
}

/*Forth__block*/

.forth__block{
    max-width: var(--max-width);
    margin-right: 75px;
    margin-left: 75px;
    margin-bottom: 150px;
    background-image:url("./../assets/img/jpg/block4.jpg");
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
}


.forth__block-content{
    max-width: var(--content-width);
    padding-left: 75px;
    padding-right: 75px;
    margin-bottom:30px;
    position: relative;
    left: 50%;
}

.forth__block h2{
    font-size: var(--font-title);
    width: 379px;
    height: 120px;
    font-weight: bold;
}

.forth__block-text{
    max-width: 60%;
    width: 450px;
    font-size: var(--font-xxl);
    margin-bottom: 35px;
}



/*Fifth block*/

.fifth__block{
    max-width: var(--max-width);
    margin-bottom: 150px;
}

.fifth__block-content{
    max-width: var(--content-width);
    padding-left: 75px;
    padding-right: 75px;
    background-image:url("./../assets/img/jpg/Frame5.jpg");
    background-repeat: no-repeat;
    background-position:right;
}

.fifth__block h2 {
    width: 397px;
    height: 60px;
    font-size: var(--font-title);
    font-weight: bold;
    margin-bottom: 30px;
}

.fifth__block-text {
    max-width: 60%;
    width: 508px;
    font-size: var(--font-xxl);
    margin-bottom: 35px;
}

/*Sixth Block*/

.sixth__block{
    max-width: var(--max-width);
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 150px;
    background-image:url("./../assets/img/jpg/Frame6.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-position:left;
}

.sixth__block-content{
    max-width: var(--content-width);
    padding-left: 75px;
    padding-right: 75px;
    position:relative;
    left: 50%;
}

.sixth__block h2 {
    width: 348px;
    height: 120px;
    font-size: var(--font-title);
    font-weight: bold;
    margin-bottom: 30px;
}

.sixth__block-text {
    max-width: 60%;
    width: 520px;
    height: 120px;
    font-size: var(--font-xxl);
    margin-bottom: 35px;
}


/*Color__block-content*/

.color__block{
    max-width: var(--max-width);
    margin-left: 75px;
    margin-right: 75px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}

.color__block-content{
    max-width: var(--content-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--bg-color);
}

.color__block-part{
    width: 330px;
}

.color__block-title h2{
    padding-top: 120px;
    padding-bottom: 58px;
    height: 60px;
   font-size: var(--font-title);
    font-weight: bold;
}


.color__icon-title{
   font-size: var(--font-icon);
    font-weight: bold;
}

.color__block-description{
    font-size: var(--font-xl);
    width: 303px;
    height: 75px;
    padding-bottom: 30px;
}







/*Container width
xxl - 1290px
xl - 992px
md - 768px
sm - 576px
*/




@media (max-width: 1400px) {
    .container {
        max-width: 992px;}

        .header__content{
            width: 100%;
            justify-content: start;
            text-align: start;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 0;
            padding-right: 20px;
            border-bottom: none;
        }

        .header nav ul{
            font-size: 14px;
        }

        .nav-list{
          margin-left: 0;
        }


        .header__btn{
           padding: 10px 40px;
        }

.header__btn-success {
padding: 10px 20px;
font-size: 14px}



    /*banner*/
    .banner__content{
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        background-image: none;
        background-position: center;
    }

.banner__description{
    max-width: initial;
}

    .banner__text-top{
        max-width: initial;
        margin: 20px;
    }

.banner h1{
    height: 130px;
    font-size: 45px;
    margin: 0;
}

.color-icons{
    flex-direction: column;
    gap: 50px;
}

    .color__block-content{
        padding-left: 50px;
        padding-right: 50px;
        background-image: none;
        background-position: center;
    }


    .third__block-content{
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        background-image: none;
        background-position: center;
    }


    .forth__block-content{
        width: 100%;
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
        background-image:none;
        background-position: right;
        left: 0;
    }

    .forth__block-description{
        width: 100%;
    }

    .fifth__block-content{
        width: 100%;
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
        background-image: none;
        background-position: center;
        left: 0;
    }


    .sixth__block-content{
        width: 100%;
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
        background-image: none;
        background-position: center;
        left: 0;
    }

.fifth__block-text{
    margin-top: 0;
}

    .color__block-content{
        background-color: transparent;
    }

    .third__block-content h2,
    .forth__block-content h2,
    .fifth__block-content h2,
    .sixth__block-content h2{

        height: 80px;
        width: 400px;
        font-size: 40px;
        margin-bottom: 10px;
        padding-top: 30px;
    }

}



@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }

    .header__content{
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav-list{
        justify-content: center;
        flex-direction: column;
        row-gap: 10px;
        align-items: flex-start;
        width: 100%;
    }

    .header__logo{
        margin-top: 15px;
    }

.header__controls{
    justify-content: center;
    align-items: center;
   flex-direction: column;
gap: 10px}

    .header__btn{
        width: 100%;
        height: 50px;
        justify-content: center;
        padding: 10px 30px;
        margin-right: 10px;
    }

    .header__btn-success {
        padding: 10px;
        font-size: 10px}


    .banner__description{
            width: 400px;
            font-size: 40px;
            margin-bottom: 30px;
            padding-top: 30px;
    }

    .banner__description h1{
        width: 100%;
        font-size: 40px;
    }

    .banner__text-below{
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
    }


    .color__block,
    .third__block,
    .forth__block,
    .fifth__block,
    .sixth__block{
    background-image: none;
    background-position: center;}

    .third__block-content h2,
   .forth__block-content h2,
   .fifth__block-content h2,
   .sixth__block-content h2{
        height: 80px;
       width: 400px;
       font-size: 35px;
       margin-bottom: 20px;
       padding-top: 20px;
   }

    .color__block-content,
    .third__block-content,
    .forth__block-content,
    .fifth__block-content,
    .sixth__block-content{
        background-image: none;
        background-position: center;
        font-size: 10px;
        padding: 10px 30px;
    }

.color__wrapper h2{
    width: 400px;
    height: 120px;
    font-size: 40px;
    margin-bottom: 30px;
    padding-top: 40px;
}


    .color__block-content{
        background-color: transparent;
    }
    .color__block-content{
        background-color: transparent;
    }

.color-icons{
    justify-content: center;
    text-align: center;
}

.color__block-title{
    padding-top: 10px;
    padding-bottom: 10px;
}

.color__block-part{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.color__block-description{
    width: 100%;
    justify-content: center;
    text-align: center;
}

    .color__wrapper h1{
        width: 400px;
        height: 120px;
        font-size: 40px;
        margin-bottom: 30px;
        padding-top: 40px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
    }

    .header__content{
        padding-left: 5px;
        padding-right: 5px;
    }

    .nav-list{
     font-size: 12px;
    }
    
    .header__btn,
    .btn-success{
        font-size: 12px;
    }


    .banner__description h1{
        width: 100%;
        font-size: 35px;
    }


    .color__block-title{
        font-size: 8px;
        justify-content: center;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .color__wrapper h2{
        width: 400px;
        height: 120px;
        font-size: 30px;
        margin-bottom: 30px;
        padding-top: 40px;
    }

    .color__block{
        background-color: transparent;
    }

    .color__block-part{
        background-color: transparent;
    }
    .color__block-content{
        background-color: transparent;
    }

    .color__block,
    .third__block,
    .forth__block,
    .fifth__block,
    .sixth__block{
        background-image: none;
        background-position: center;}

    .forth__block{
        margin: 0;
    }


    .third__block-content h2,
    .forth__block-content h2,
    .fifth__block-content h2{
        width: 300px;
        height: 80px;
        font-size: 30px;
        margin-bottom: 10px;
        padding-top: 10px;
    }


    .sixth__block-content h2{
        width: 300px;
        height: 50px;
        font-size: 30px;
        margin-bottom: 5px;
        padding-top: 10px;
    }

    .sixth__block-content{
        font-size: 8px;
        padding: 40px 10px;
    }
    .sixth__block-text{
        width: 100%;
        padding-top: 20px;
    }

    .sixth__block a{
        padding-top: 80px;
    }

    .color__block-content,
    .third__block-content,
    .forth__block-content,
    .fifth__block-content{
        font-size: 8px;
       padding: 25px 10px;
    }


    .color__wrapper h2{
        width: 400px;
        height: 100px;
        font-size: 30px;
        margin-bottom: 10px;
        padding-top: 10px;
    }

    .banner__controls{
        gap: 10px;
    }
    
    .banner__description{
        width: 400px;
        font-size: 8px;
    }


    .banner__button{
        margin-bottom: 10px;
    }
    .color__block-title{
        width: 350px;
        height: 350px;
        font-size: 30px;
        padding: 0;
    }


}


@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .color__content{
        background-color: transparent;
    }

    .sixth__block{
        margin: 0;
    }
    .sixth__block a{
        padding-top: 30px;
    }

    .color__block-part{
        background-color: transparent;
    }
.color__block-title h2{
    font-size: 30px;
}
    .color__block{
        background-color: transparent;
    }
    .color__block-content{
        background-color: transparent;
    }

    .forth__block-description{
        width: 100%;
    }
}
